<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('inc/elements/head') %>
</head>

<body>
    <%- include('inc/elements/nav') %>
        <%- navBar() %>
            <%- body %>

                <%- include('inc/elements/scripts') %>

</body>

</html>